.demo{
    color: red;
}
#name{
    color: green;
}
#age{
    font-size: 30px;
}
.button{
    color: hotpink;
    border-radius: 15%;
}
.button1{
    font-size: 15px;
}
#pele{

}
.blue{
    color: black;
}